@page "/"
@using RedditApp.Services
@inject PostService PostService

<h1>Posts</h1>

@foreach (var post in PostService.GetAllPosts())
{
    <div>
        <h2>@post.Title</h2>
        <p>@post.CreatedBy</p>
        <a href="postdetails/@post.Id">View Post</a>
    </div>
}